# File to ignore folders/files in Git repo

# Ignore the virtual environment
env/

# Ignore the 'del' folder on the root
/del/

# Ignore Python temporary files
*.pyc
__pycache__/

# Ignore log files
*.log

# Ignore private configuration files
*.env

# Ignore build files
build/
dist/
*.egg-info/
